/* Общие стили для ячеек */
th,
td {
  padding: 12px 28px;
  /* border: 1px solid #eaeaed; */
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Стили для заголовков */
th {
  position: sticky;
  top: 0;
  background-color: #ebebf4;
  color: #646477;
  border-color: #efeff7;
}

tr:nth-child(even) {
  background-color: #f5f5fb;
}
