.blotter {
  height: 0;
  width: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #eaeaed;
  border: 1px solid #eaeaed;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.blotter.blotterOpen {
  height: 40vh;
  width: 100%;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  border-radius: 0;
  border-radius: 12px 12px 0 0;
}

.blotterButton {
  width: 200px;
  height: 40px;
  padding: 20px 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fbfbfb;
  background-color: #4364e7;
  border-radius: 8px 0 0 0;
  transition: all 0.3s linear;
  cursor: pointer;
}

.blotterHeader {
  margin: 12px 8px 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blotterTitle {
  font-weight: 500;
  font-size: 20px;
}

.hideButton {
  height: auto;
  width: auto;
  padding: 4px 16px;
  position: relative;
  top: -4px;
  color: #fbfbfb;
  background-color: #4364e7;
  border-radius: 8px;
  cursor: pointer;
}

.hideButton:hover {
  background-color: #3751b8;
}

.blotterContent {
  max-width: 100%;
  height: 100%;
  margin: 8px;
  overflow: auto;
}

.blotterContent table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

.blotterContent th,
.blotterContent td {
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #fbfbfb;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fixed-column {
  position: sticky;
  right: 0;
  z-index: 2;
  background-color: #f4f2f2;
}

.context-menu {
  min-width: 60px;
  height: auto;
  position: fixed;
  z-index: 1000;
  background-color: white;
  border: 1px solid #dbdada;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.context-menu button {
  background-color: transparent;
  border: none;
  color: #333;
  padding: 8px 20px;
  cursor: pointer;
}

.context-menu button:hover {
  background-color: #f4f1f1;
}
