/* Контейнер таблицы */
.table-container {
  width: 96vw;
  overflow-x: auto;
  position: relative;
  border: 1px solid #efeff7;
  border-radius: 8px;
  transition: all 0.3s linear;
}

.table-container.blotterOpen {
  height: 50vh;
}

/* Таблица */
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto; /* Колонки растягиваются по содержимому */
  background-color: #fcfcfc;
}
